PREFIX obo: <http://purl.obolibrary.org/obo/>
PREFIX sio: <http://semanticscience.org/resource/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX ordo: <http://www.orpha.net/ORDO/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>


SELECT distinct ?observation_id ?person_id ?observation_concept_id ?observation_date ?observation_datetime ?observation_type_concept_id ?value_as_number ?value_as_string ?value_as_concept_id ?qualifier_concept_id ?unit_concept_id ?provider_id ?visit_occurrence_id ?visit_detail_id ?observation_source_value ?observation_source_concept_id ?unit_source_value ?qualifier_source_value

?visit_concept_id ?visit_start_date ?visit_start_datetime ?visit_end_time ?visit_end_datetime ?visit_type_concept_id ?provider_id ?care_site_id ?visit_source_value ?visit_source_concept_id ?admitting_source_concept_id ?admitting_source_value ?discharge_to_concept_id ?discharge_to_source_value ?preceding_visit_occurrence_id

WHERE {
    GRAPH ?status_g {

        ?status_role sio:SIO_000356 ?status_process ; a sio:SIO_000016 .
        ?status_process a sio:SIO_000006; sio:SIO_000229 ?status_output .
        ?status_output sio:SIO_000628 ?status_attribute; a sio:SIO_000015, obo:NCIT_C164628 . 
        ?status_attribute a sio:SIO_000614,?observation_source_value . 
        FILTER (?observation_source_value != sio:SIO_000614) 
    }
    ?status_g a obo:NCIT_C62143 ; sio:SIO_000068 ?status_timeline, ?status_event ;
                           sio:SIO_000680 ?status_startdate;
                           sio:SIO_000681 ?status_enddate;
                           sio:SIO_000300 ?observation_id .
        
    ?status_startdate a sio:SIO_000031 .
    ?status_enddate a sio:SIO_000032 .
        
    ?status_event a obo:NCIT_C25499 ; sio:SIO_000300 ?visit_occurrence_id .
        
    ?status_startdate sio:SIO_000300 ?visit_start_date, ?observation_date .
    ?status_enddate sio:SIO_000300 ?visit_end_time .
        
    ?status_timeline a obo:NCIT_C54576, sio:SIO_000417; sio:SIO_000332 ?status_individual .
    ?status_individual a sio:SIO_000498 ; sio:SIO_000671 ?status_individual_identifier .       
    ?status_individual_identifier a sio:SIO_000115 ; sio:SIO_000300 ?person_id .
    }