PREFIX obo: <http://purl.obolibrary.org/obo/>
PREFIX sio: <http://semanticscience.org/resource/>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX ordo: <http://www.orpha.net/ORDO/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>


SELECT distinct ?observation_id ?person_id ?observation_concept_id ?observation_date ?observation_datetime ?observation_type_concept_id ?value_as_number ?value_as_string ?value_as_concept_id ?qualifier_concept_id ?unit_concept_id ?provider_id ?visit_occurrence_id ?visit_detail_id ?observation_source_value ?observation_source_concept_id ?unit_source_value ?qualifier_source_value

?visit_concept_id ?visit_start_date ?visit_start_datetime ?visit_end_time ?visit_end_datetime ?visit_type_concept_id ?provider_id ?care_site_id ?visit_source_value ?visit_source_concept_id ?admitting_source_concept_id ?admitting_source_value ?discharge_to_concept_id ?discharge_to_source_value ?preceding_visit_occurrence_id

WHERE {
    GRAPH ?undiagnosed_g {

        ?undiagnosed_role sio:SIO_000356 ?undiagnosed_process ; a sio:SIO_000016 .
        ?undiagnosed_process a sio:SIO_000006; sio:SIO_000229 ?undiagnosed_output .
        ?undiagnosed_output sio:SIO_000628 ?undiagnosed_attribute; a sio:SIO_000015 . 
        ?undiagnosed_attribute a sio:SIO_000614,?observation_source_value . 
        FILTER (?observation_source_value = obo:NCIT_C113725) 
    }
    ?undiagnosed_g a obo:NCIT_C62143 ; sio:SIO_000068 ?undiagnosed_timeline, ?undiagnosed_event ;
                           sio:SIO_000680 ?undiagnosed_startdate;
                           sio:SIO_000681 ?undiagnosed_enddate;
                           sio:SIO_000300 ?observation_id .
        
    ?undiagnosed_startdate a sio:SIO_000031 .
    ?undiagnosed_enddate a sio:SIO_000032 .
        
    ?undiagnosed_event a obo:NCIT_C25499 ; sio:SIO_000300 ?visit_occurrence_id .
        
    ?undiagnosed_startdate sio:SIO_000300 ?visit_start_date, ?observation_date .
    ?undiagnosed_enddate sio:SIO_000300 ?visit_end_time .
        
    ?undiagnosed_timeline a obo:NCIT_C54576, sio:SIO_000417; sio:SIO_000332 ?undiagnosed_individual .
    ?undiagnosed_individual a sio:SIO_000498 ; sio:SIO_000671 ?undiagnosed_individual_identifier .       
    ?undiagnosed_individual_identifier a sio:SIO_000115 ; sio:SIO_000300 ?person_id .
    }